<div class="page-wrapper">
  <div class="page-header">
    <img class="banner" src="/banner.webp" alt="Bob Fornal's Movie Search" />
  </div>

  <div class="page-content">
  <div class="filter">
    <div class="title">Genre Filter</div>
      @if (selectedGenre !== null) {
        <div class="clear-button">
          <mat-icon>keyboard_arrow_left</mat-icon>
          <button matButton class="link-button" (click)="clearFilterItem()">Clear</button>
        </div>
      }
      @for (item of genre.data; track item.id;) {
        <div class="filter-item" (click)="toggleFilterItem(item)">
          <label
            class="filter-item-checkbox"
            [class.selected]="isSelected(item)"
            [class.disabled]="isDisabled(item)"
          >
            @if (isSelected(item)) {
              <mat-icon class="material-symbols-filled mat-ligature-font">check_box</mat-icon>
            } @else {
              <mat-icon>check_box_outline_blank</mat-icon>
            }
          </label>
           <span
            class="filter-item-label"
            [class.selected]="isSelected(item)"
            [class.disabled]="isDisabled(item)"
          >
            {{ item.title }} ({{ item.movies.length }})
          </span>
        </div>
      }
      @if (genre.pages.length < genre.totalPages) {
        <div class="see-more-button">
          <mat-icon>keyboard_arrow_down</mat-icon>
          <button matButton class="link-button" (click)="loadMoreGenre()">See more</button>
        </div>
      }
    </div>
    <div class="content">
      <div class="movie-selection">
        <div class="available-records">
          @if (selectedGenre === null) {
            {{ filteredTitles.data.length }}
          } @else {
            {{ selectedGenre.movies.length }} of {{ getTitlesLength() }}
          }
          <span>movies available</span>
        </div>
        <div class="search-selection">
          <mat-form-field class="search-field">
            <mat-label>Select a movie</mat-label>
            <mat-select [(value)]="selectedTitleId" (valueChange)="selectTitle($event)">
              <mat-option [value]="null">None</mat-option>
              @for (item of filteredTitles.data; track item.id) {
                <mat-option [value]="item.id">{{ item.title }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <div class="selection">
          <mat-icon class="selection-button" (click)="navigateToPage('first')">first_page</mat-icon>
          <mat-icon class="selection-button" (click)="navigateToPage('previous')">chevron_left</mat-icon>
          <span class="selection-content">Page {{ movies.page }} of {{ movies.totalPages }}</span>
          <mat-icon class="selection-button" (click)="navigateToPage('next')">chevron_right</mat-icon>
          <mat-icon class="selection-button" (click)="navigateToPage('last')">last_page</mat-icon>
        </div>
        <div class="movie-card-wrapper">
          <div class="movie-cards">
            @for (movie of movies.data; track movie.id) {
              <div
                class="movie-card"
                [class.selected]="movie.id === selectedMovie?.id"
                (click)="selectMovie(movie)"
              >
                {{ movie.title }}
              </div>
            }
          </div>
        </div>
      </div>

      <movie-display-component
        [selectedMovie]="selectedMovie"
        [additionalDetail]="selectedMovieAdditionalDetail"
      ></movie-display-component>
    </div>

  </div>
</div>