<div class="page-wrapper">
  <div class="page-header">
    <img class="banner" src="/banner.webp" alt="Bob Fornal's Movie Search" />
  </div>

  <div class="page-content">
  <div class="filter">
    <div class="title">Genre Filter</div>
      @if (selectedGenre !== null) {
        <div class="clear-button">
          <mat-icon>keyboard_arrow_left</mat-icon>
          <button matButton class="link-button" (click)="clearFilterItem()">Clear</button>
        </div>
      }
      @for (item of genre.data; track item.id;) {
        <div class="filter-item" (click)="toggleFilterItem(item)">
          <label
            class="filter-item-checkbox"
            [class.selected]="isSelected(item)"
            [class.disabled]="isDisabled(item)"
          >
            <input type="checkbox" style="display: none;">
            @if (isSelected(item)) {
              <mat-icon class="material-symbols-filled mat-ligature-font">check_box</mat-icon>
            } @else {
              <mat-icon>check_box_outline_blank</mat-icon>
            }
          </label>
           <span
            class="filter-item-label"
            [class.selected]="isSelected(item)"
            [class.disabled]="isDisabled(item)"
          >
            {{ item.title }} ({{ item.movies.length }})
          </span>
        </div>
      }
      @if (genre.pages.length < genre.totalPages) {
        <div class="see-more-button">
          <mat-icon>keyboard_arrow_down</mat-icon>
          <button matButton class="link-button" (click)="loadMoreGenre()">See more</button>
        </div>
      }
    </div>
    <div class="content">
      <div class="movie-selection">
        <div class="selection">
          <mat-icon class="selection-button" (click)="navigateToPage('first')">first_page</mat-icon>
          <mat-icon class="selection-button" (click)="navigateToPage('previous')">chevron_left</mat-icon>
          <span class="content">Page {{ movies.page }} of {{ movies.totalPages }}</span>
          <mat-icon class="selection-button" (click)="navigateToPage('next')">chevron_right</mat-icon>
          <mat-icon class="selection-button" (click)="navigateToPage('last')">last_page</mat-icon>
        </div>
        <div class="movie-card-wrapper">
          <div class="movie-cards">
            @for (movie of movies.data; track movie.id) {
              <div
                class="movie-card"
                [class.selected]="movie.id === selectedMovie?.id"
                (click)="selectMovie(movie)"
              >
                {{ movie.title }}
              </div>
            }
          </div>
        </div>
      </div>

      <div class="movie-information">
        @if (selectedMovie === null) {
          <div>No movie selected.</div>
        } @else {
          <img
            class="poster"
            [src]="selectedMovie.posterUrl"
            [alt]="selectedMovie.title"
            (error)="handleImgError($event)"
          />

          <div class="movie-data">
            <div class="movie-title">
              <span class="detail-title">Title:</span>
              <span class="detail-content">{{ selectedMovie.title }}</span>
            </div>
            <div class="movie-date-published">
              <span class="detail-title">Published:</span>
              <span class="detail-content">{{ convertDate(selectedMovieAdditionalDetail?.datePublished) }}</span>
            </div>
            <div class="movie-date-directors">
              <span class="detail-title">Directors:</span>
              <span class="detail-content">{{ (selectedMovieAdditionalDetail?.directors || []).join(', ') }}</span>
            </div>
            <div class="movie-date-duration">
              <span class="detail-title">Duration:</span>
              <span class="detail-content">{{ convertIsoDuration(selectedMovieAdditionalDetail?.duration) }}</span>
            </div>
            <div class="movie-date-genres">
              <span class="detail-title">Genres:</span>
              <span class="detail-content">{{ convertGenres(selectedMovieAdditionalDetail?.genres) }}</span>
            </div>
            <div class="movie-date-actors">
              <span class="detail-title">Main Actors:</span>
              <span class="detail-content">{{ (selectedMovieAdditionalDetail?.mainActors || []).join(', ') }}</span>
            </div>
            <div class="movie-date-published">
              <span class="detail-title">Rating:</span>
              <span class="detail-content">{{ selectedMovieAdditionalDetail?.ratingValue }}</span>
            </div>
          </div>
        }
      </div>
    </div>

  </div>
</div>